// Variables
//colors
$primary-soft-blue: hsl(215, 51%, 70%);
$primary-cyan: hsl(178, 100%, 50%);
$background-dark-blue: hsl(217, 54%, 11%); // (main BG)
$card-dark-blue: hsl(216, 50%, 16%); // (card BG)
$line-dark-blue: hsl(0, 0%, 1%); //  (line)

$white: hsl(0, 0%, 100%);

// typography
$font-family-primary: "Outfit", sans-serif;
$size-small: 0.9735rem;
$size-medium: 1.125rem;
$size-large: 1.375rem;
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

// layout styles
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $font-family-primary;
	font-size: $size-medium;
	padding: 3.875rem 1.5rem;
	background-color: $background-dark-blue;
	color: $primary-soft-blue;
}

.item {
	padding: 1.5rem;
	background-color: $card-dark-blue;
	max-width: 21.875rem;
	border-radius: 0.75rem;

	&-header a {
		position: relative;
		display: block;
	}

	&-header img {
		border-radius: 0.75rem;
	}

	&-title {
		font-size: $size-large;
		padding-top: 1.5rem;
	}

	&-stats,
	&-stats1,
	&-stats2,
	&-creator {
		display: flex;
		font-size: $size-small;
	}

	&-stats {
		padding: 1rem 0;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $line-dark-blue;
	}

	&-stats1,
	&-stats2 {
		align-items: center;
	}

	&-stats1 {
		color: $primary-cyan;
	}

	&-info {
		padding-left: 0.5rem;
	}

	&-creator {
		padding-top: 1rem;
	}

	&-creator img {
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		border: 1px solid $white;
	}

	&-creator p {
		padding-left: 1rem;
	}
}

// link styles and active styles
a {
	text-decoration: none;
	color: $white;
	cursor: pointer;
}

a:hover {
	color: $primary-cyan;
}

.item-header a:after,
.item-header a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s;
}

.item-header a:before {
	background-color: $primary-cyan;
	border-radius: 0.75rem;
}

.item-header a:after {
	background: url(/images/icon-view.svg) center no-repeat;
	top: 0;
}

.item-header a:hover:after {
	opacity: 1;
}

.item-header a:hover:before {
	opacity: 0.5;
}

// footer attribution styles
.attribution {
	padding-top: 1rem;
	color: $white;
}
